//================  Подключаем Шрифты  ========

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

//=========================================

//============  Основные цвета  ================

$yellow-color: #FFD600;
$white-color: #FFF5E1;
$green-color: #0DB9BB;
$blue-color: #31688F;
$dark-gray-color: #414042;
$-gray-color: #808285;
$lt-gray-color: #CCD2E3;
$purple-color: #C028CD;
$red-color: #FF003D;

//=========================================
